<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.springbootmybatiscrud.mapper.EmpMapper">
<!--    resultType:单条数据返回的类型-->
    <select id="getById" resultType="org.example.springbootmybatiscrud.POJO.emp">
        select * from emp where id=#{id}
    </select>
</mapper>